<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    <style>

    body {
      background-color: white;
      font-family: 'Lato';
      font-size: 20px;
      margin-left, margin-right: 100px;
      margin: 100px;

    }
    h1,h2,h3 {color: black;}
    h2, h3 {color: black;}
    h4 {color: black; }


    </style>


    {% if site.highlighter %}
        <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    {% include header.html %}
    {{ content }}
</body>
</html>
